/*Dados Globais*/

:root {
    --font1: Verdana;
    --cor0: #000000;
    --cor1: #000000;
    --cor2: #0a2a58;
    --cor3: #0070bb;
    --cor10: #bcd53f;
    --cor11: #D69592;
    --dist: 0px;
    --ml: -250px;
    --linha: 14px;
    --yinicial: 70px;
    --hlinha: 50px;
    --abr: -100px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
}

#container>div {
    overflow-y: auto;
}

#blocodenotas {
    resize: horizontal;
    box-sizing: border-box;
    font-family: Consolas, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 10px;
    color: aliceblue;
    position: relative;
    min-width: 10%;
    max-width: 50%;
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 100%;
    background: rgb(0, 40, 71);
    background: -moz-linear-gradient(153deg, rgba(0, 40, 71, 1) 0%, rgba(8, 12, 27, 1) 100%);
    background: -webkit-linear-gradient(153deg, rgba(0, 40, 71, 1) 0%, rgba(8, 12, 27, 1) 100%);
    background: linear-gradient(153deg, rgba(0, 40, 71, 1) 0%, rgba(8, 12, 27, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#002847", endColorstr="#080c1b", GradientType=1);
    white-space: pre-wrap;
    outline: none;
}

#blocodenotas>div {
    padding: 10px 0px;
}

#preview {
    flex-grow: 3;
    color: var(--cor0);
    font-family: var(--font1);
    position: relative;
    min-width: 50%;
    max-width: 100%;
    height: calc(100% - 10px);
    padding: 5px 10px;
    padding-left: calc(var(--ml) + 500px);
    background-color: rgb(255, 255, 255);
    transition: padding 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

p {
    text-indent: 1.5em;
    margin: 5px 0px;
    line-height: 25px;
    font-size: 15px;
    text-align: justify;
    max-height: 100%;
    overflow-wrap: break-word;
}

section {
    font-family: var(--font1);
    animation: revela 1.5s cubic-bezier(0, .41, .32, 1.01);
    margin: 0 auto;
    width: 800px;
    min-width: 50%;
    max-width: 85%;
}

@keyframes revela {
    from {
        margin-top: var(--dist)
    }
    to {
        margin-top: 0
    }
}

h1 {
    font-size: 32px;
    color: var(--cor1)
}

h2 {
    color: var(--cor2)
}

h3 {
    color: var(--cor3);
}

li {
    font-size: 15px;
    text-indent: 1.5em;
}

img:not(.imgmiddle) {
    display: block;
    position: relative;
    margin: auto;
    max-height: 280px;
    max-width: 90%;
    border-radius: 10px;
}

img.esquerda {
    float: left;
    margin: 5px 10px 5px -70px;
}

img.direita {
    float: right;
    border: transparent thin solid;
    margin: 5px -70px 5px 10px;
}

a {
    color: rgb(30, 117, 175);
    cursor: pointer;
}

table {
    margin: auto;
    text-align: center;
}

tr:first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #38316E;
    background-color: #FAD8B2;
}

tr {
    background-color: #f3f3f3;
}

td {
    padding: 10px;
}

.imgmiddle {
    vertical-align: middle !important;
}

.complete {
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    font-size: 15px;
    border: 0px;
    background-color: rgb(5, 151, 139);
    outline: none;
}

.spanx {
    display: none;
    color: rgb(2, 187, 2)
}

.diviframe,
.iframediv {
    text-align: center;
}

iframe {
    border: none;
    margin: auto;
}

#botoes,
#botoesf {
    position: absolute;
    bottom: 20px;
    left: calc(10px);
    display: flex;
}

#botoesf>div {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-family: Consolas, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    background-color: rgba(58, 58, 58, 0.3);
    backdrop-filter: blur(10px);
    margin: 5px;
    z-index: 5;
}

#botoesf>div:first-of-type {
    z-index: 8;
}

#configuracoes {
    overflow-y: scroll;
    padding: 20px;
    font-family: Consolas;
    font-size: 15px;
    z-index: 7;
    height: 100%;
    position: fixed;
    color: white;
    background-color: rgba(0, 12, 29, 0.671);
    backdrop-filter: blur(10px);
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

#configuracoes>h2 {
    color: white;
}

#configuracoes::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.ativo {
    animation: mostra 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: calc(50% - 40px);
}

.desativo {
    animation: oculta 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    left: calc(-50% - 40px);
}

@keyframes mostra {
    from {
        left: -50%;
        display: none;
    }
    to {
        left: 0px;
        display: block;
    }
}

@keyframes oculta {
    from {
        left: 0%;
        display: block;
    }
    to {
        left: -50%;
        display: none;
    }
}

.config-box {
    width: 95%;
    border-radius: 15px;
    color: black;
    background-color: white;
    padding: 10px;
    border: 0.5px black solid;
}

label {
    padding-left: 0.5em;
}

.cor {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
    outline: 0;
    padding: 0;
    border: 0 none;
    border-radius: 100%;
}

.cor:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

form>div>label:first-of-type {
    flex: auto;
    max-width: 50%;
    min-width: 170px;
    margin: auto 0;
    text-align: right;
}

form>div>label {
    margin: auto 0;
}

form>div {
    display: flex;
    vertical-align: middle;
}

select {
    background-color: rgb(255, 255, 255);
    padding: 5px 5px 0px;
    margin: 2px 0;
    width: 130px;
    border: none;
    outline: none;
}

select:focus {
    outline: none;
}

.ui-select {
    width: 100%
}


/* This is to remove the arrow of select element in IE */

select::-ms-expand {
    display: none;
}

select {
    font-family: Consolas;
    font-size: 15px;
    -webkit-appearance: none;
    appearance: none;
    border-bottom: 2px solid rgb(0, 59, 59);
}

@-moz-document url-prefix() {
    .ui-select {
        border: 1px solid #CCC;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }
    .ui-select select {
        width: 110%;
        background-position: right 30px center !important;
        border: none !important;
    }
}

.inputcor {
    font-family: Consolas;
    font-size: 15px;
    outline: none;
    border: none;
    margin: auto 5px;
    width: 60px;
}

button {
    font-family: var(--font1);
    outline: none;
    border: 0.5px solid rgb(185, 202, 201);
    border-radius: 5px;
    width: 120px;
    position: relative;
    left: calc(50% - 60px);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    color: rgb(20, 20, 20);
    cursor: pointer;
    font-size: 16px;
    vertical-align: middle;
    appearance: none;
    margin: auto;
    transition-property: border box-shadow;
    transition-duration: 0.5s;
    transition-delay: 0s;
    margin-top: 40px;
    margin-bottom: 500px;
}

button:hover {
    border: 0.5px solid rgb(0, 67, 167);
    -webkit-box-shadow: 0px 0px 21px 2px rgba(160, 160, 160, 0.52);
    box-shadow: 0px 0px 14px 1px rgba(43, 65, 99, 0.219);
}

.alternativas>li {
    border: 0.5px solid rgb(185, 202, 201);
    list-style-type: upper-alpha;
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    line-height: 1.5em;
    border-radius: 5px;
    margin: 10px 0;
    list-style-position: inside;
    text-indent: -1.5em;
    padding: 4px;
    padding-left: 2em;
    border-left: 3px solid var(--cor2);
    transition-property: border box-shadow;
    transition-duration: 0.2s;
    transition-delay: 0s;
}

.alternativas>li.acertou {
    animation: acerta 0.1s linear;
    transition-property: border box-shadow;
    transition-duration: 0.1s;
    transition-delay: 0s;
    background-color: var(--cor10);
    border: 0.5px solid var(--cor10);
    border-left: 3px solid var(--cor10);
}

.alternativas>li.errou {
    animation: erra 0.1s linear;
    transition-property: border box-shadow;
    transition-duration: 0.1s;
    transition-delay: 0s;
    background-color: var(--cor11);
    border: 0.5px solid var(--cor11);
    border-left: 3px solid var(--cor11);
}

@keyframes acerta {
    from {
        background-color: rgb(219, 219, 219);
    }
    to {
        background-color: var(--cor10);
    }
}

@keyframes erra {
    from {
        background-color: rgb(219, 219, 219);
    }
    to {
        background-color: var(--cor11);
    }
}

.alternativas>li.acertou:hover {
    background-color: var(--cor10);
    border: 0.5px solid var(--cor10);
    border-left: 3px solid var(--cor10);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition-property: border box-shadow;
    transition-duration: 0.1s;
    transition-delay: 0s;
}

.alternativas>li.errou:hover {
    background-color: var(--cor11);
    border: 0.5px solid var(--cor11);
    border-left: 3px solid var(--cor11);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition-property: border box-shadow;
    transition-duration: 0.1s;
    transition-delay: 0s;
}

.alternativas>li:hover {
    transition-property: border box-shadow;
    transition-duration: 0.5s;
    transition-delay: 0s;
    border: 0.5px solid var(--cor2);
    border-left: 3px solid var(--cor2);
    -webkit-box-shadow: 0px 9px 8px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 9px 8px -1px rgba(0, 0, 0, 0.6);
    background-color: rgb(241, 241, 241);
}

#sumario {
    height: 100%;
    position: fixed;
    width: 250px;
    background-color: rgb(248, 248, 248);
    padding: 10px;
    margin: -10px;
    margin-left: var(--ml);
    padding-top: 60px;
    transition: margin-left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 4;
}

.item {
    width: 100%;
    margin: 3px;
}

#sumario>div {
    display: flex;
}

#sumario>div>div {
    margin: auto 5px;
    z-index: 10;
}

.bolinha {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    border: 3px solid rgb(219, 219, 219);
    z-index: 10;
}

.done {
    background-color: #a7c41b !important;
    border: 3px solid #a7c41b !important;
}

#btsumario {
    height: 0px;
    position: fixed;
    border: 15px solid transparent;
    border-right: 15px solid var(--cor2);
    top: 10px;
    cursor: pointer;
}

#linha {
    position: fixed;
    background-color: var(--cor10);
    top: 80px;
    height: calc(var(--hlinha) - 70px);
    width: 4px;
    z-index: 9;
    margin-left: var(--linha);
}

#sumario>div>h1 {
    color: var(--cor1);
    font-size: 1em;
    padding: 10px 5px;
    margin: 0;
}

#sumario>div>h2 {
    color: var(--cor2);
    font-size: 0.9em;
    padding: 5px;
    margin: 0;
}

#sumario>div>h3 {
    color: var(--cor3);
    font-size: 0.85em;
    padding: 2px;
    margin: 0;
    margin-left: 15px;
}

#btsumarioa {
    height: 0px;
    border: 15px solid transparent;
    border-left: 15px solid var(--cor2);
    width: 0px;
    position: fixed;
    background-color: transparent;
    top: 50%;
    cursor: pointer;
    margin-left: var(--abr);
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}