/*Dados Globais*/

:root {
    --font1: Verdana;
    --font2: Verdana;
    --corback: 'white';
    --cor0: #000000;
    --cor1: #000000;
    --cor2: #0a2a58;
    --cor3: #0070bb;
    --cor4: #56bda4;
    --cor5: #5B9BD5;
    --cor5c: #000000;
    --cor6: #ececec;
    --cor7: #141414;
    --cor8: #ffffff;
    --cor9: #19777e;
    --cor9c: #020202;
    --cor9d: #00534c;
    --cor10: #bcd53f;
    --cor11: #D69592;
    --covery: 0px;
    --leftdef: 500px;
    --topdef: 1000px;
    --cy: 100px;
    --cx: 100px;
    --dist: 0px;
    --ml: -250px;
    --linha: 14px;
    --yinicial: 70px;
    --hlinha: 50px;
    --tlinha: 0px;
    --sumarios: 0px;
    --imgcoverurl: url(https://images.unsplash.com/photo-1618329254028-833d820b7f86?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80);
}


/* width */

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.4);
    border-radius: 2px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgba(224, 224, 224, 0.7);
}

html {
    scroll-behavior: smooth;
}

#coord {
    height: 30px;
    width: 80px;
    position: fixed;
    top: var(--cy);
    left: var(--cx);
    z-index: 5000;
    background-color: #bcd53f;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#ferramentas {
    height: 50px;
    padding: 2px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    background: rgb(0, 40, 71);
    background: -moz-linear-gradient(153deg, rgba(0, 40, 71, 1) 0%, rgba(8, 12, 27, 1) 100%);
    background: -webkit-linear-gradient(153deg, rgba(0, 40, 71, 1) 0%, rgba(8, 12, 27, 1) 100%);
    background: linear-gradient(153deg, rgba(0, 40, 71, 1) 0%, rgba(8, 12, 27, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#002847", endColorstr="#080c1b", GradientType=1);
    -webkit-box-shadow: 0px -8px 8px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -8px 8px 10px rgba(0, 0, 0, 0.4);
    z-index: 80;
}

.skil {
    font-family: consolas;
    cursor: pointer;
    height: 21px;
    width: 21px;
    margin: 1px;
    padding: 5px;
    background: transparent;
    color: white;
    text-align: center;
}

.separador {
    height: 21px;
    width: 1px;
    margin: 0 5px;
    background-color: white;
}

.skil:hover {
    background: rgb(0, 23, 41);
}

#container {
    height: calc(100% - 54px);
    width: 100%;
    display: flex;
}

#blocodenotas {
    overflow-y: hidden;
    box-sizing: border-box;
    font-family: Consolas, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    position: relative;
    width: 50%;
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 100%;
    background: rgb(0, 25, 44);
    background: -moz-linear-gradient(153deg, rgb(0, 37, 65) 0%, rgba(8, 12, 27, 1) 100%);
    background: -webkit-linear-gradient(153deg, rgb(0, 32, 56) 0%, rgba(8, 12, 27, 1) 100%);
    background: linear-gradient(153deg, rgb(0, 40, 71) 0%, rgba(8, 12, 27, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#002847", endColorstr="#080c1b", GradientType=1);
    outline: none;
}

#preview {
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    flex-grow: 3;
    color: var(--cor0);
    font-family: var(--font1);
    position: relative;
    width: 50%;
    height: 100%;
    padding: 0px;
    padding-left: 0;
    background-color: var(--corback);
    transition: padding 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

p {
    text-indent: 1.5em;
    margin: 5px 0px;
    line-height: 25px;
    font-size: 15px;
    text-align: justify;
    max-height: 100%;
    overflow-wrap: break-word;
}

#progressbar {
    height: 10px;
    position: fixed;
    transition: width 1s cubic-bezier(0.23, 1, 0.320, 1);
    width: var(--wbar);
    background: linear-gradient(146deg, var(--cor1) 0%, var(--cor2) 100%);
    top: 52px;
    z-index: 79;
}

#cover {
    height: 250px;
    background-image: var(--imgcoverurl);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: var(--covery);
    background-position-x: center;
    background-repeat: no-repeat;
    cursor: grab;
}

#cover:active {
    cursor: grabbing;
}

#sections {
    position: relative;
    width: 100%;
    padding-top: 20px;
    left: 0px;
    transition: left width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.sectionsr {
    width: calc(100% - 260px) !important;
    left: 260px !important;
}

#sumario {
    max-height: 70%;
    position: absolute;
    display: block;
    width: 260px;
    padding: 10px;
    padding-top: 10px;
    transition: margin-left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 4;
}

#sumario2 {
    width: 250px;
    pointer-events: none;
    content-visibility: hidden;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    top: -10px;
    margin-left: -500px;
    position: relative;
    /* transition: top 1s ease-in-out; */
    transition: margin;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    font-size: 14px;
}

#sumario2>a {
    text-decoration: none;
    color: var(--cor0);
}

.azul {
    top: 100px !important;
    position: fixed !important;
    z-index: 5;
}

.sumarioaberto {
    display: block !important;
    padding-left: 20px !important;
    margin-left: 2px !important;
    pointer-events: auto !important;
    content-visibility: visible !important;
}

.sh1 {
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: padding background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 4px;
}

.sh2,
.sh3 {
    padding: 5px 5px;
    cursor: pointer;
    transition: padding background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 4px;
}

.sh2:hover,
.sh3:hover,
.sh1:hover {
    padding-left: 5px;
    background-color: rgba(238, 238, 238, 0.596);
    border-left: 5px solid var(--cor5d);
}

#btsumarioa {
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 10px;
    padding-left: 20px;
    top: 0px;
    position: relative;
    transition: padding;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.btsazul {
    top: 60px !important;
    position: fixed !important;
    z-index: 6;
}

.fechar {
    padding-left: 240px !important;
}

#btsumarioa:hover {
    color: var(--cor2d);
}

@media screen and (max-width: 1200px) {
    #sections {
        width: 100%;
    }
    #sumario {
        display: none;
    }
}

#ss {
    display: flex;
    flex-direction: row;
}

section {
    font-family: var(--font1);
    animation: revela 1.5s cubic-bezier(0, .41, .32, 1.01);
    margin: 0 auto;
    position: relative;
    width: 800px;
    padding-bottom: 300px;
    min-width: 50%;
    max-width: 85%;
}

@keyframes revela {
    from {
        margin-top: var(--dist)
    }
    to {
        margin-top: 0
    }
}

.completo {
    padding-bottom: 0px;
}

h1 {
    font-size: 32px;
    color: var(--cor1)
}

h2 {
    color: var(--cor2)
}

h3 {
    color: var(--cor3);
}

li {
    font-size: 15px;
    padding-left: 10px;
    text-indent: 1em;
}

ol {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 2.5em;
}

ol>li {
    font-size: 15px;
    text-indent: 0em;
}

img:not(.imgmiddle) {
    display: block;
    position: relative;
    margin: auto;
    max-width: 90%;
    border-radius: 10px;
}

img.centro {
    max-height: 280px;
}

img.esquerda {
    float: left;
    max-height: 280px;
    margin: 5px 10px 5px -70px;
}

img.direita {
    float: right;
    max-height: 280px;
    border: transparent thin solid;
    margin: 5px -70px 5px 10px;
}

.divimgocult {
    max-width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    margin: 40px auto;
    border-radius: 10px;
    top: 0px;
    justify-content: center;
    align-items: center;
}

.imgocult {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    z-index: 1;
    transition: height 0.2s cubic-bezier(0.23, 1, 0.320, 1);
}

.ocult {
    height: 0;
}

a {
    color: var(--cor4);
    cursor: pointer;
}

def {
    border-color: var(--cor4);
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 3px 0px;
    display: inline;
    transition-property: background-color border;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;
    transition-delay: 0s;
}

def:hover {
    padding: 3px;
    border-radius: 3px 3px 0px 0px;
    background-color: var(--cor4);
    color: var(--cor4c)
}

.def {
    content-visibility: hidden;
    opacity: 0.5;
    position: fixed;
    background-color: transparent;
    transition-property: opacity background-color content-visibility;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0s;
    text-indent: 0px;
}

def:hover>.def {
    content-visibility: auto;
    color: var(--cor4c);
    display: block;
    opacity: 1;
    max-width: 250px;
    background-color: var(--cor4);
    z-index: 200;
    position: fixed;
    border-radius: 0px 3px 3px 3px;
    padding: 5px;
    text-indent: 0px;
    margin-top: 1px;
    left: var(--leftdef);
    top: var(--topdef);
    -webkit-box-shadow: 0px 0px 21px 2px rgba(160, 160, 160, 0.52);
    box-shadow: 0px 0px 14px 1px rgba(43, 65, 99, 0.219);
}

.def>img {
    margin: 5px auto;
    text-align: center;
    max-width: 240px;
    height: auto !important;
    height: auto;
    position: relative;
    display: block;
}

.coordenadas {
    background-color: seagreen;
    width: 100px;
    height: 10px;
    position: absolute;
    z-index: 210;
    left: var(--leftdef);
    top: var(--topdef);
}

table {
    margin: auto;
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
}

th {
    border: 1px solid var(--cor0);
    font-family: var(--font2);
    text-align: center;
    color: var(--cor8c);
    padding: 5px 5px;
    background-color: var(--cor8);
    ;
}

tr {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--cor0);
}

td {
    border: 1px solid var(--cor0);
    padding: 10px;
}

.imgmiddle {
    vertical-align: middle !important;
    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.complete,
.marc {
    color: var(--cor9c);
    text-align: center;
    border-radius: 3px;
    padding: 2px;
    font-size: 15px;
    border: 0px;
    background-color: var(--cor9);
    outline: none;
}

.marc {
    cursor: pointer;
    padding: 2px 15px;
}

.marc>span {
    color: var(--cor9c);
    background-color: var(--cor9);
    width: 100px;
    display: none;
    position: fixed;
    left: var(--leftdef);
    top: var(--topdef);
    width: max-content;
}

.marc:hover>span {
    border-radius: 0 4px 4px 4px;
    position: fixed;
    min-width: 100px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.marc>span>span {
    text-indent: 0px;
    padding: 0px 10px;
}

.marc>span>span:hover {
    border-radius: 0 4px 4px 4px;
    background-color: var(--cor9dd);
    color: white;
}

.spanx {
    display: none;
    color: #000000;
}

.xis {
    display: inline;
    color: rgb(255, 255, 255);
    background-color: rgb(170, 0, 28);
    border-radius: 3px;
    padding: 2px 4px;
}

marc.certo {
    color: var(--cor9d);
}

.diviframe,
.iframediv {
    text-align: center;
}

iframe {
    border: none;
    margin: auto;
    display: block;
    max-width: 800px;
}

#botoes,
#botoesf {
    position: absolute;
    bottom: 20px;
    left: calc(10px);
    display: flex;
}

#botoesf>div {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-family: Consolas, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    background-color: rgba(58, 58, 58, 0.3);
    backdrop-filter: blur(10px);
    margin: 5px;
    z-index: 5;
}

#botoesf>div:first-of-type {
    z-index: 8;
}

#configuracoes {
    overflow-y: scroll;
    padding: 20px;
    font-family: Consolas;
    font-size: 15px;
    z-index: 7;
    height: 100%;
    position: fixed;
    color: white;
    background-color: rgba(0, 12, 29, 0.671);
    backdrop-filter: blur(10px);
    -ms-overflow-style: none;
    /* Interncccet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

#configuracoes>h2 {
    color: white;
}

#configuracoes::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.ativo {
    animation: mostra 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: calc(50% - 40px);
    left: 0;
}

.desativo {
    animation: oculta 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    left: -150%;
    width: 40%;
}

@keyframes mostra {
    from {
        left: -50%;
        display: none;
    }
    to {
        left: 0px;
        display: block;
    }
}

@keyframes oculta {
    from {
        left: 0%;
        display: block;
    }
    to {
        left: -100%;
        display: none;
    }
}

.config-box {
    width: 95%;
    border-radius: 15px;
    color: black;
    background-color: white;
    padding: 0px;
    border: 0.5px black solid;
    margin-bottom: 10px;
}

.cbh {
    background-color: #F9FAFB;
    padding: 15px 20px 10px;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 0px -1px 4px -1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px -1px 4px -1px rgba(0, 0, 0, 0.7);
}

.cbo {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 10px;
}

.cbo>.separador {
    height: 35px;
    width: 1px;
    border-radius: 0;
    background-color: rgb(139, 139, 139);
    cursor: auto;
    margin: auto 5px;
    padding: 0;
}

.cbo>div {
    flex-wrap: wrap;
    display: table-row;
    padding: 5px;
    width: 120px;
    border-radius: 6px;
    margin: 10px;
    background-color: #eceff1;
    cursor: pointer;
    text-align: center;
    transition-property: box-shadow background-color color;
    transition-duration: 0.5s;
    transition-delay: 0s;
    justify-content: center;
}

.cbo>div:hover {
    background-color: rgb(70, 70, 124);
    color: white;
    -webkit-box-shadow: 0px 8px 12px -1px rgb(0 0 0 / 50%);
    box-shadow: 0px 8px 12px -1px rgb(0 0 0 / 50%);
}

.cbp {
    margin: 0 20px 20px;
    padding: 10px;
    background-color: var(--corback);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(37, 78, 167, 0.05);
    box-shadow: 0px 5px 10px 0px rgba(38, 35, 207, 0.05);
    border-radius: 6px;
}

.cbp>h1 {
    font-family: var(--font1);
    margin: 10px;
}

.cbp>span {
    font-family: var(--font2);
    font-weight: 600;
    margin: 10px;
    display: block;
    right: 0;
    text-align: right;
    color: var(--cor2);
}

.cbp>p {
    font-family: var(--font1);
    color: var(--cor0);
}

.cbc {
    width: 300px;
    margin: 20px auto;
    border-radius: 15px;
    border: 1px solid var(--cor1);
    background: linear-gradient(146deg, var(--cor1) 0%, var(--cor2) 100%);
    color: var(--cor1c);
    font-family: var(--font2);
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(27, 27, 27, 0.5);
    box-shadow: 0px 0px 14px 1px rgba(16, 23, 32, 0.2);
}

.cbc>span {
    outline: 0px solid transparent;
    margin: 10px;
    display: block;
}

.cbc>span:active {
    outline: 0px solid transparent;
}

.cbcbotao {
    outline: 0px solid transparent;
    cursor: pointer;
    margin: 10px auto;
    background: linear-gradient(146deg, var(--cor1d) 0%, var(--cor2d) 100%);
    min-width: 130px;
    width: fit-content;
    padding: 0 10px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    transition-property: background-color box-shadow border-color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 0.5px solid var(--cor2);
    border-width: 0.5px;
}

.cbcbotao:hover,
.cbcbotao:active,
.cbcbotao:focus {
    background: linear-gradient(146deg, var(--cor2) 0%, var(--cor1) 100%);
    border: 0.5px solid var(--cor1);
    border-width: 0.5px;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(27, 27, 27, 0.5);
    box-shadow: 0px 0px 14px 1px rgba(16, 23, 32, 0.2);
}

.cbcimage {
    height: 100px;
    cursor: pointer;
    background-image: var(--imgcoverurl);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px 15px 0px 0px;
    transition: background-size 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cbc:hover>.cbcimage {
    background-size: 120%;
}

label {
    padding-left: 0.5em;
}

.cor {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
    outline: 0;
    padding: 0;
    border: 0 none;
    border-radius: 100%;
}

.cor:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

form>div>label:first-of-type {
    flex: auto;
    max-width: 50%;
    min-width: 170px;
    margin: auto 0;
    text-align: right;
}

form>div>label {
    margin: auto 0;
}

form>div {
    display: flex;
    vertical-align: middle;
}

select {
    background-color: rgb(255, 255, 255);
    padding: 5px 5px 0px;
    margin: 2px 0;
    width: 130px;
    border: none;
    outline: none;
}

select:focus {
    outline: none;
}

.ui-select {
    width: 100%
}


/* This is to remove the arrow of select element in IE */

select::-ms-expand {
    display: none;
}

select {
    font-family: Consolas;
    font-size: 15px;
    -webkit-appearance: none;
    appearance: none;
    border-bottom: 2px solid rgb(0, 59, 59);
}

@-moz-document url-prefix() {
    .ui-select {
        border: 1px solid #CCC;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }
    .ui-select select {
        width: 110%;
        background-position: right 30px center !important;
        border: none !important;
    }
}

.inputcor {
    font-family: Consolas;
    font-size: 15px;
    outline: none;
    border: none;
    margin: auto 5px;
    width: 60px;
}

.inputimg {
    font-family: Consolas;
    font-size: 15px;
    outline: none;
    border: none;
    margin: auto 5px;
    width: 90%;
}

button {
    font-family: var(--font1);
    outline: none;
    border: 0.5px solid var(--cor7);
    border-radius: 5px;
    width: 120px;
    position: relative;
    left: calc(50% - 60px);
    background-color: rgb(240, 240, 240);
    padding: 5px;
    color: var(--cor7dd);
    cursor: pointer;
    font-size: 16px;
    vertical-align: middle;
    appearance: none;
    margin: 40px auto;
    transition-property: box-shadow border-color;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.imgbotao {
    float: left;
    display: inline;
    position: absolute;
    z-index: 4;
    margin: -10px auto;
    height: 20px;
    width: 80px;
    top: calc(50% - 10px);
    left: calc(50% - 40px);
    z-index: 40;
    font-family: var(--font1);
    border: 0.5px solid var(--cor7);
    border-radius: 5px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 5px 5px 5px;
    color: var(--cor7dd);
    cursor: pointer;
    font-size: 16px;
    transition-property: border box-shadow margin;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.botaocontinua {
    margin-top: -170px;
    margin-bottom: 300px;
    border-width: 0.5px;
    transition-property: box-shadow border-color;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

button:hover,
.imgbotao:hover {
    border: 0.5px solid var(--cor3);
    border-width: 0.5px;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(160, 160, 160, 0.52);
    box-shadow: 0px 0px 14px 1px rgba(43, 65, 99, 0.219);
}

.col2,
.col3 {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.col2>li {
    flex-basis: calc(50% - 48px);
    margin: 5px 0 5px 10px !important;
}

.col3>li {
    flex-basis: calc(33% - 48px);
    margin: 5px 0 5px 10px !important;
}

.alternativas>li {
    border: 0.5px solid rgb(185, 202, 201);
    list-style-type: upper-alpha;
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    color: black;
    line-height: 1.5em;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    list-style-position: inside;
    text-indent: -1.5em;
    padding: 4px;
    padding-left: 2em;
    border-left: 3px solid var(--cor2);
    transition-property: border box-shadow;
    transition-duration: 0.1s;
    transition-delay: 0s;
}

.alternativas>li.acertou {
    transition-property: border box-shadow background-color;
    transition-duration: 0.1s;
    transition-delay: 0s;
    background-color: var(--cor10);
    color: var(--cor10c);
    border: 0.5px solid var(--cor10);
    border-left: 3px solid var(--cor10);
}

.alternativas>li.errou {
    transition-property: border box-shadow background-color;
    transition-duration: 0.1s;
    transition-delay: 0s;
    background-color: var(--cor11);
    color: var(--cor11c);
    border: 0.5px solid var(--cor11);
    border-left: 3px solid var(--cor11);
}

.alternativas>li.acertou:hover {
    background-color: var(--cor10);
    border: 0.5px solid var(--cor10);
    border-left: 3px solid var(--cor10);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition-property: border box-shadow;
    transition-duration: 0.1s;
    transition-delay: 0s;
}

.alternativas>li.errou:hover {
    background-color: var(--cor11);
    border: 0.5px solid var(--cor11);
    border-left: 3px solid var(--cor11);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition-property: border box-shadow;
    transition-duration: 0.1s;
    transition-delay: 0s;
}

.alternativas>li:hover {
    transition-property: border box-shadow;
    transition-duration: 0.5s;
    transition-delay: 0s;
    border: 0.5px solid var(--cor2);
    border-left: 3px solid var(--cor2);
    -webkit-box-shadow: 0px 9px 8px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 9px 8px -1px rgba(0, 0, 0, 0.6);
    background-color: rgb(241, 241, 241);
}

.item {
    width: 100%;
    margin: 3px;
}

#sumario>div>div {
    display: flex;
}

#sumario>div>div>div {
    margin: auto 5px;
    z-index: 10;
}

.bolinha {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    border: 3px solid rgb(219, 219, 219);
    z-index: 10;
}

.done {
    background-color: #a7c41b !important;
    border: 3px solid #a7c41b !important;
}

.item>h1 {
    color: var(--cor1);
    font-size: 1em;
    padding: 10px 5px;
    margin: 0;
}

.item>h2 {
    color: var(--cor2);
    font-size: 0.9em;
    padding: 5px;
    margin: 0;
}

.item>h3 {
    color: var(--cor3);
    font-size: 0.85em;
    padding: 2px;
    margin: 0;
    margin-left: 15px;
}

code {
    background: #CCC;
    padding: 4px;
    border-radius: 3px;
}

.divdd {
    margin-right: -30px;
    display: flex;
    flex-direction: row;
}

.divdrop {
    width: 70%;
}

.divdrag {
    width: 30%;
    padding: 40px 10px;
    margin-left: 10px;
    background: url(../img/fundodrag.webp);
    background-position: center;
    flex: 1;
    /* margin: auto; */
    border-radius: 10px;
    word-break: unset;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 5;
}

.s-drop {
    border: 2px dashed rgb(94, 94, 94);
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 100px;
    margin: 2px 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition-property: height margin width;
    transition-duration: 0.2s;
    transition-delay: 0s;
}

.drop-dragOver {
    background-color: rgb(241, 241, 241);
    width: 110px;
    height: 29px;
    margin: 0px;
    -webkit-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.4);
    border-left: 3px solid var(--cor2);
}

.drop-dragOver-errou {
    animation: errou 1.5s cubic-bezier(1, -0.02, .6, .6);
}

@keyframes errou {
    from {
        background-color: rgb(228, 148, 148);
    }
    to {
        background-color: rgb(255, 255, 255);
    }
}

.s-drag {
    border: 0.5px solid rgb(185, 202, 201);
    cursor: grab;
    background-color: rgb(219, 219, 219);
    color: black;
    border-radius: 5px;
    line-break: normal;
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 5px 5px;
    border-left: 3px solid var(--cor2);
    transition-property: border box-shadow;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.s-drag:hover {
    transition-property: border box-shadow;
    transition-duration: 0.5s;
    transition-delay: 0s;
    border: 0.5px solid var(--cor2);
    border-left: 3px solid var(--cor2);
    -webkit-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.4);
    background-color: rgb(241, 241, 241);
}

.s-drag:active {
    cursor: grabbing;
}

.oc {
    display: none;
    color: var(--cor9d);
}

#bm {
    position: fixed;
    pointer-events: none;
    right: -100px;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 3000;
}

.var {
    outline: none;
    width: 50px;
    border-radius: 4px;
    text-align: center;
    border-width: 1px;
    border-left: 3px solid var(--cor2);
}

.svarvazia {
    display: inline-block;
    width: 30px;
    height: 20px;
    vertical-align: middle;
    text-indent: 0px;
    background-image: url(../img/svar.png);
    background-size: cover;
}

.svarvazia::before {
    content: '_';
    color: transparent;
}

.ERR {
    background-color: darkred;
    color: white;
    padding: 2px 5px;
}

#btlibera {
    cursor: pointer;
    position: fixed;
    color: var(--cor7dd);
    background-color: rgb(240, 240, 240);
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    width: 200px;
    text-align: center;
    margin-top: 15px;
    bottom: 30px;
    transition-property: box-shadow background-color;
    transition-duration: 0.5s;
    transition-delay: 0s;
    font-family: var(--font1);
    justify-content: center;
}

#btlibera:hover {
    background-color: var(--cor5);
    color: var(--cor5c);
    -webkit-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.4);
}

::selection {
    color: rgb(255, 253, 253);
    background: rgb(91, 139, 212);
}

#end {
    height: 300px;
    bottom: 0px;
    background-blend-mode: lighten;
    background: url('https://ibb.co/jLyQHx1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
}